body {
    background: linear-gradient(to right, #3eebff, #a67dff);
    opacity: .9;
}

.head_box {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #3eebff, #a67dff);
    overflow: visible;
    /*默认值,内容超出时不会被裁剪*/
}

#main_show_box {
    width: 100%;
    padding-bottom: 80px;
    /*---------------*/
    background: none;

}

#foot_box .foot_note_box {
    width: 100%;
    height: 80px;
    background: none;
}

#last {
    color: grey;
    font-size: 12px
}